fastapi
uvicorn
openai
pydantic-settings
uvicorn[standard]
sqlalchemy
asyncmy
passlib[bcrypt]
cryptography
python-multipart
python-jose[cryptography]
pydantic[email]
requests
beautifulsoup4
google-play-scraper
pillow
pure-python-adb
xmltodict
numpy
opencv-python
torch
torchvision
tiktoken
pyshine
pandas